body {
    margin: 0;
    padding: 5px;
    height: 100vh;
    width: 100vw;
    background-color: pink;
    box-sizing: border-box;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.wrapper {
    position: relative;
    height: 89vh;
}

header {
    background: #fff;
    display: flex;
    border-bottom: 8px solid pink;
    align-items: center;
    font-size: 14px;
}

canvas {
    background: #fff;
}

#button .icon {
    cursor: pointer;
    width: 1.5em;
    height: 1.5em;
    color: #807d7d;
    transition: transform .3s;
}

#button {
    display: flex;
    padding: 15px;
}
#pen{
    margin-right: 10px;
}
#pen.active {
    transform: scale(1.2);
}

#eraser.active {
    transform: scale(1.5);
    color: #121f1f
}


.divide {
    width: 1px;
    height: 30px;
    background: #9a9999;
    margin: 0 10px;
}

.control{
}

.control input{
    width: 50px;
    border: 1px solid #a9a5a5;
    vertical-align: text-top;
    height: 18px;
    text-indent: 10px;
}


.clearfix {
    content: "";
    display: block;
    clear: both;
}

#colorBox {
    position: absolute;
    left: 0;
}

#colorBox .color {
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    margin: 6px;
    box-shadow: 0 0 0px 1px #969494;
    cursor: pointer;
    display: block;
}